body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 980px;
  text-align: center;
  margin: 200px auto;
}

h1 {
  margin-bottom: 20px;
}

#location {
  font-size: 24px;
}

#temp {
  font-size: 34px;
  margin-bottom: 20px;
}

#currentWeather {
  font-size: 24px;
  margin-bottom: 0px;
}

