body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 980px;
  text-align: center;
  margin: 200px auto;
}

h1 {
  margin-bottom: 20px;
}

#geocoding_form {
  margin: 40px auto 40px;
}

.input-group {
  margin-left: 4%;
}

.find-me.btn:focus {
  border-color: transparent;
  outline: 0;
}

#coordinates {
  font-size: 18px;
  opacity: 1;
  margin-bottom: 60px;
}

#coordinates b:first-child {
  margin-right: 15px;
}

#temp {
  font-size: 58px;
  margin-bottom: 20px;
}

#currentWeather {
  font-size: 36px;
  margin-bottom: 0px;
}

